.card__wrapper{
    display: flex;
    width: 100%;
     align-items: center;
     justify-content: center;
    flex-wrap: wrap;
}

.wrapper__item {
    color: white;
    margin: 35px 0 35px 0;
    border: 2px white solid;
    padding: 15px;
    border-radius: 20px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper__setters{
    display: flex;
    flex-direction: column;
}

.item__visual-content{
    position: relative;
}

.item__visual-content button {
    position: absolute;
    right: 0;
    font-size: 26px;
    font-weight: bold;
}

.wrapper__setters select {
        height: 50px;
        font-size: 18px;
}

.wrapper__setters button {
    height: 50px;
    font-size: 18px;
}